@import 'colors';
@mixin fullScreen {
  width: 100vw;
  height: 100vh;
  top: 0;
}
@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Particle {
  background-image: radial-gradient(
    circle,
    #c1dff0,
    #b7dcf0,
    #add8f0,
    #a2d5f1,
    #97d1f1,
    #8cc9ea,
    #80c2e4,
    #74badd,
    #65adcf,
    #55a0c0,
    #4693b2,
    #3587a4
  );
  opacity: 5%;
  z-index: -1;
  position: absolute;
  @include fullScreen;
}
.Masthead {
  @include flex;
  @include fullScreen;
  z-index: 10;
}

.Welcome,
.Logo {
  @include flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  font-family: 'Nova Square', cursive;
  color: $rust;
  font-size: 1.1rem;
}
.Logo {
  font-size: 3rem;
}

  a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}


.Header {
  width: 100vw;
  height: 5vh;
}
